#riot-app{
	position: absolute;
	height: 100%;
	width: 100%;

	left: 0;
	top: 0;
}

.content {
  position: relative;
	width: 100%;
  transition: background-color .5s ease-in-out;
	& > *{
		animation: opacity .3s ease-in-out;
	}
}


@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

header{
    position: relative;
    top: 0;
    left: 0;
}


#nav{
	position: fixed;
	height: 100%;
	width: 100%;
}


.content{
	background-color: $blue;
}

.content.projects{
	background-color: black;
}

.tag{

  border-radius: 4px;
	margin-right: 5px;
	padding: 3px 8px;
	font-size: 13px;
	line-height: 2;

	&.support{
    background: #8A388E;
	}
	&.jquery{
		background: #DA530C;
	}
	&.tech{
		background:	#0C5479;
	}
	&.content{
		background: #A50721;
	}
	&.imp{
    background: #07252F;
	}
	&.wordpress{
		background: #A50721;
	}
}

footer{
	position: absolute;
	font-size: 80%;
	color: #1B1306;
	bottom: 5%;
	left: 5%;
}
